*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}